---
import Layout from "../layouts/Layout.astro";
import MainBackground from "@components/MainBackground.astro";
import NavBar from "@components/NavBar.astro";
import Skills from "@components/Skills.astro";
import Hero from "@components/Hero.astro";
import Education from "@components/Education.astro";
---

<Layout title="Bernardo Alfaro - Frontend Engineer">
  <main>
    <MainBackground />
    <NavBar />
  </main>
</Layout>

<style></style>
