---
interface Props {
  mail: string;
}

const { mail } = Astro.props;

const year = new Date().getFullYear();
---

<footer
  class="bg-black/50 w-full m-3 rounded-lg max-w-[100rem] dark:bg-gray-800"
>
  <div
    class="w-full text-white mx-auto max-w-screen p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center dark:text-gray-400"
      >© {year}
      <a href="#" class="hover:underline"> Bernardo Alfaro</a>. Todos los
      derechos reservados
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-[0.8rem] font-medium sm:mt-0"
    >
      <li>
        <a href="#skills" class="hover:underline me-4 md:me-6">Habilidades</a>
      </li>

      <li>
        <a href="#education" class="hover:underline me-4 md:me-6">Educación</a>
      </li>
      <li>
        <a href="#skills" class="hover:underline me-4 md:me-6">Proyectos</a>
      </li>
      <li>
        <a
          href={`mailto:${mail}`}
          title={`Enviar email a ${mail}`}
          class="hover:underline">Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
