---
import cv from "@/lib/my-portfolio.json";

const { basics } = cv;
---

<section>
  <div class="h-auto mb-10" id="#">
    <div class="flex items-center justify-center gap-[15rem]">
      <h1 class="text-3xl text-balance font-semibold text-white">
        Hola! 🖐️, Me llamo {basics.name}
        <span class="text-orange-400">{basics.surname}</span>
      </h1>
    </div>
    <p class="max-w-[87ch] text-white/70 text-justify mt-3">
      Soy un profesional altamente proactivo y con una sólida trayectoria en
      entornos laborales dinámicos. Mi enfoque orientado a resultados se refleja
      en la forma en que afronto los desafíos, buscando siempre oportunidades
      para mejorar la eficiencia y superar las metas. Me destaco en el trabajo
      en equipo, colaborando eficazmente, escuchando activamente y contribuyendo
      con ideas innovadoras. Mi compromiso con la excelencia y la adaptabilidad
      me permite destacar tanto en proyectos individuales como en iniciativas
      colaborativas.
    </p>
  </div>
</section>
