---
interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<h1 class="text-center font-semibold text-2xl text-white">
  <span class="text-orange-400">My</span>
  {title}<span class="text-orange-400">.</span>
</h1>
